<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
        <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MVB8XL4');</script>
<!-- End Google Tag Manager -->


    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">
    <script src="https://cdn.intelligems.io/9ed69ae467d5.js"></script>

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
</head>
  <body>
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          {% if settings.cf09_imp %}
           {% render 'cf09-imp-mobile' %}
          {% endif %}
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
            {% if settings.cf09_imp %}
             {% render 'cf09-imp-desktop' %}
            {% endif %}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}
  
        <!---- begin_checkout dataLayer push event for GA UA & GA4 ---->
    
    <script>
        
      var itemsArray = []
      var productsArray = []
      
    </script> 


    {% for product in checkout.line_items %}
    <script>

      var product = '{{ product.title }}'
      var price = '{{ product.original_price | money_without_currency | replace:',','.'}}'
      var quantity = '{{ product.quantity }}'
      var id = '{{ product.id }}'
      var brand = '{{ product.vendor }}'
      var variant = '{{ product.variant.title }}'

      var ecomObject = {

        'item_name': product,
        'item_id': id,
        'price': price,
        'item_variant': variant,
        'quantity': quantity,
        'item_brand': brand

      }

      var ecomObjectUniversal = {

        'name': product,
        'id': id,
        'price': price,
        'variant': variant,
        'quantity': quantity,
        'brand': brand

      }

      itemsArray.push(ecomObject)
      productsArray.push(ecomObjectUniversal)

      
      
    </script>
    {% endfor %}

      <script>

      var shippingAddress = '{{ checkout.shipping_address.summary }}'
      var shippingMethod = '{{ checkout.shipping_method.title }}'

      if(shippingAddress == ''){

        var checkoutStep = 1
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push(
          {
            'event': 'begin_checkout',
            'ecommerce': {
              'items': itemsArray
            }
          })
      }
      else if(shippingMethod == '' && shippingAddress !== ''){

        var checkoutStep = 2
        
      }
      else if(shippingMethod !== ''){

        var checkoutStep = 3
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push(
          {
            'event': 'add_payment_info',
            'ecommerce': {
              'shipping_tier': shippingMethod,
              'items': itemsArray
            }
          });

        
      }

    </script>

    <script>
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push(
          {
            'event': 'eec.checkout',
            'ecommerce': {
              'checkout': {

                'actionField': {

                  'step': checkoutStep
                  
                },

                'items': productsArray

                
              }
              
            }
          });
    </script>
    {% if settings.cf09_imp %}
     {% render 'cf09-imp' %}
    {% endif %}

<script type="text/javascript">
(function($) {
  // Document load/change
  $(document).on("page:load page:change", function() {
    // On Contact Information step
    if (Shopify.Checkout.step === "contact_information") {
      // Setup VAT field
      const addressFields = $("div[data-address-fields]");
      const vatField = $(".field--vat-number").clone();
      const contactForm = addressFields.parents("form");
      // Append VAT field to address fields
      addressFields.append(vatField);
      // Catch contact form submit
      $("button[type=submit]", contactForm).one("click", function() {
        const email = $('input[name="checkout[email]"]').val() || $("input#checkout_email_or_phone").val();
        const vat_no = $('input[name="checkout[attributes][VAT Registration Number]"]').val();
        if ((email) && (vat_no)) {
          $.ajax({
            type : "GET",
            dataType: "jsonp",
            url: "{{ shop.url }}/apps/sufio/customer-vat/",
            data: { email: email, vat_no: vat_no },
            success: function(data) {
              // Proceed to the next step after successfully sending the VAT number
              $("button[type=submit]", contactForm).click();
            }
          });
        } else {
          return true;
        }
        // Proceed to the next step after one second
        setTimeout( function () {
          $("button[type=submit]", contactForm).click();
        }, 5000);
        return false;
      });
      // Catch discount form submit
      const discountField = $("input[data-discount-field]");
      const discountForm = discountField.parents("form");
      $("button[type=submit]", discountForm).on("click", function() {
        const vatFieldInputSel = 'input[name="checkout[attributes][VAT Registration Number]"]';
        // Preserver VAT field value
        const vat_no = $(vatFieldInputSel).val();
        $('.additional-checkout-fields ' + vatFieldInputSel).val(vat_no);
      });
    }
  });
})(Checkout.$);
</script>

  </body>
</html>
